<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.url">jdbc:mysql://95.111.248.108:16603/pm2201_VB</property>
        <property name="hibernate.connection.username">VB</property>
        <property name="hibernate.connection.password">turandot</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="show_sql">false</property>
    </session-factory>
</hibernate-configuration>